@charset "UTF-8";

@font-face {
    font-family: 'cesco_r';
    src: url('../fonts/CESCO_R_20140905153946.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cesco_b';
    src: url('../fonts/CESCO_B_20140905153946.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}
