{
	"URL":{
		"LOGIN":"root/html/CM001.html",
		"MAIN" : ["root/html/CM002.html","MN000/html/TMNKBSTAR.html","MN000/html/TMNKBCARD.html","MN000/html/MNKBFNG.html","MN000/html/MNKBSTAR.html","MN000/html/MNKBCARD.html"]
	},
	"TITLEBAR" : {
		"TEXTCOLOR":"FFFFFFFF",
		"BACKGROUNDIMAGE" : "common/images/bg.png",
		"BACKGROUNDCOLOR" : "FF645353",
		"VISIBLE" : true
	},
	"TOOLBAR" : {
		"BACKGROUNDIMAGE" : "common/images/bg.png",
		"VISIBLE" : false
	},
	"CONTEXT" : {
		"BACKGROUNDCOLOR":"FF534334",
		"TEXTCOLOR" : "FFFFFFFF"
	},
	"WEBVIEW" : {
		"MAXIMUMCOUNT" : 30,
		"BACKGROUNDCOLOR" : {
								"NORMAL" : "FFFFFFFF",
								"DIALOG" : "FFFFFFFF"
							}
	}			
}